<!-- start of section1 -->

<div class="pg-5-section1">
  <div class="container-fluid">
          <!-- start of row -->
          <div class="row">
              <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-xl-6">
                  <h4 class="faqs">FAQ’S</h4>
                  <p class="have-compiled">We have compiled a Frequently Asked Qyestion below</p>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-xl-6">
                  <h4 class="faqs1">FAQ’S</h4>
             </div>
         </div>
         <!-- end of row -->

      </div>
  </div>

<!-- end of section1 -->

<div class="container">
  <img src="src/app/assets/images/group-3.png" class="group-3 img-fluid">

</div>

