<div class ="footer" *ngIf="f.visible" >
  <div class ="container">

  <!-- ---------------------------------START OF ROW------------------------------------------------------------ -->
    <div class ="row">
      <!-- <div class ="container"> -->
           <div class ="col-lg-3 col-md-6 col-xl-3 col-sm-12 ">
             <h4 class="company">Company</h4>
                  <ul class ="" style="list-style-type:none;">
                      <li class="nav-item">
                        <a class="nav-link footer-links heading_f_gap"  routerLink ="">About us</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link footer-links f_link_gap"   routerLink ="">Career</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link footer-links f_link_gap"  routerLink ="">Terms & Service</a>
                        </li>
                  </ul>
              </div>  
         
             <div class =" col-lg-3 col-md-6 col-xl-3 col-sm-12">
                <h4 class="support">Support</h4>
                     <ul class ="" style="list-style-type:none;">
                         <li class="nav-item">
                           <a class="nav-link footer-links heading_f_gap"  routerLink ="">Support</a>
                           </li>
                           <li class="nav-item">
                             <a class="nav-link footer-links f_link_gap"   routerLink ="">Contact us</a>
                           </li>
                           <li class="nav-item">
                             <a class="nav-link footer-links f_link_gap"  routerLink ="">FAQ's</a>
                           </li>
                     </ul>
                 </div>  
                 <div class ="col-lg-3 col-md-6 col-xl-3 col-sm-12 ">
                    <h4 class="media-social">Media social</h4>
                         <ul class ="" style="list-style-type:none;">
                             <li class="nav-item">
                               <a class="nav-link footer-links heading_f_gap"  routerLink ="">Twitter</a>
                               </li>
                               <li class="nav-item">
                                 <a class="nav-link footer-links f_link_gap"   routerLink ="">Facebook</a>
                               </li>
                               <li class="nav-item">
                                 <a class="nav-link footer-links f_link_gap"  routerLink ="">Linkedin</a>
                               </li>
                         </ul>
                     </div>  
                     <div class ="col-lg-3 col-md-6 col-xl-3 col-sm-12 ">
                        <h4 class="address">Address</h4>
                         <div class ="addr_mum_off">Mumbai Office Address</div>
                          <div class ="addr-mum">
                              512, B-65 Stanford Plaza
                              ,Off Link Road,
                               Andheri West, Mumbai- 400053
                          </div>
                           
                     </div>  

                     <!-- <div class ="col-lg-12 col-md-12 col-xl-12 col-sm-12 ">
                      <div class = "f_line"></div>
                    </div> -->

    </div>   

      <!-- ---------------------------------END OF ROW------------------------------------------------------------ -->
 <!-- <div class ="container"><div class = "f_line"></div></div> -->


                      <div class = "f_line"></div>

                      <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                            <div style ="display:flex;">
                                <img src="src/app/assets/images/logo.png" class ="logo">
                                <div class=" logo-text">DIGIMKEY</div>
                            </div>
                          
                      
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                          <div class="copyright">Copyright DIGIMKEY © 2018</div>
                        </div>
                      </div>

                      <!-- <img src="src/app/assets/images/logo.png" class ="logo">
                      <a class="navbar-brand logo-text" href="#">DIGIMKEY</a> -->
                
      


  </div>
  </div>