.footer{
    width: 100%;
    height:auto;
    /* height: 300px; */
    /* height:100%; */
    /* height:auto; */
    background-color: #061230;
    /* margin-top:3510px; */
    /* overflow:hidden; */
}
.footer-links {
    /* width: 151.4px; */
    /* height: 23px; */
    font-family: CircularStd;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    /* margin-left:133px; */
  }
 .f_link_gap{
     margin-top:19px;
 }
  .heading_f_gap{
    margin-top:34px;
  }
  .company {
    /* margin-left:50px; */
    margin-top:65px;
    /* height: 25px; */
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .support {
    margin-top:65px;
    /* margin-left:50px; */
    /* height: 25px; */
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .media-social {
    margin-top:65px;
    /* margin-left:50px; */
    /* height: 25px; */
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .address {
    margin-top:65px;
    /* margin-left:50px; */
    /* height: 25px; */
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .addr-mum {
    /* width: 239px; */
    /* margin-left:50px; */
    margin-top:7px;
    /* height: 69px; */
    font-family: CircularStd;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .addr_mum_off {
    /* width: 216px; */
    /* margin-left:50px; */
    /* height: 23px; */
    font-family: CircularStd;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  
  .f_line {
    /* height: 2px; */
    opacity: 0.52;
    /* margin:86px 77px; */
    /* margin:86px 80px 77px 80px; */
    border: solid 1px #ffffff;
  }
  .logo-text {
    font-family: Helvetica;
    font-size: 22.9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 4.9px;
    text-align: center;
    color: #ffffff;
    margin-left:2%;
  }
  .logo {
    width: 25px;
    height: 25px;
    margin-left:2%;
  }
  .copyright {
    /* width: 355.4px;
    height: 27px; */
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
  }