<div class ="Select-profile">
  <div class ="container">
<!-- -------------------- START OF ROW ---------------------------- -->
<div class="row">
 <div class=" col-xs-12 col-lg-6 col-md-6 col-xl-6 col-sm-12">
   <h4 class ="welcome-digi">Welcome to the  Digimkey</h4>
   <p class = "join-us">Join us to enter the paperless education world</p>
   <h4 class ="Digimkey">DIGIMKEY</h4>

   
 </div>
 <div class=" col-xs-12 col-lg-6 col-md-6 col-xl-6 col-sm-12">
   <div class="profile-card">
     <div class="choose-profile">
        Choose profile
     </div>
     <p class="select-your-profile">
        Select your profile to digitize your education with Digimkey
     </p>
<!-- start of icons -->
     <div class="container">
       <div class="row">
          <div class="col-xs-12 col-lg-6 col-md-6 col-xl-6 col-sm-12">
              <div class="block1" (click) ="imgClick()">
                <img src ="src/app/assets/images/College Icon@3x.png" class ="college-icon"  >

              </div>
              <p class="college">School /College</p>
          </div>
          <div class=" col-xs-12 col-lg-6 col-md-6 col-xl-6 col-sm-12">
              <div class="block2" (click) ="imgClick()">
                <img src ="src/app/assets/images/Parent Icon@3x.png" class ="parent-icon">

              </div>
              <p class="parent">Parent</p>
         </div>

         <div class=" col-xs-12 col-lg-6 col-md-6 col-xl-6 col-sm-12">
            <div class="block3">
                <img src ="src/app/assets/images/Student icon@3x.png" class ="student-icon">

            </div>
            <p class="student">Student</p>
       </div>
       <div class=" col-xs-12 col-lg-6 col-md-6 col-xl-6 col-sm-12">
          <div class="block4">
              <img src ="src/app/assets/images/teaching@3x.png" class ="teaching">
            </div>
          <p class="teaching-staff">Teaching Staff</p>
       </div>
      <div class=" col-xs-12 col-lg-6 col-md-6 col-xl-6 col-sm-12">
        <div class="block5">
            <img src ="src/app/assets/images/non teaching@3x.png" class ="non-teaching">
          </div>
        <p class="non-teaching-staff">Non-Teaching Staff</p>
     </div>



       <div class="col-xs-12 col-lg-6 col-md-6 col-xl-6 col-sm-12">
          <div class="block6">
              <img src ="src/app/assets/images/Other Icon@3x.png" class ="other-icon">
            </div>
          <p class="other">Other</p>
      </div>
      <div class="col-xs-12 col-lg-6 col-md-6 col-xl-6 col-sm-12">
        <button type ="button" class ="btn_next "><div class ="next text-center"><a routerLink ="/register/sign-up" style ="color:#ffffff;text-decoration:none;">Next</a></div></button>
      </div>





     </div>
     <!-- end -->


   </div>

 </div>

<!-- -------------------- END OF ROW ---------------------------- -->


</div>


</div>

</div>