<!-- start of section1 -->

<div class="pg-3-section1">
        <div class="container">
                <!-- start of row -->
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                        <h4 class="contact-us">Contact Us</h4>
                        <p class="ty">Thank you for showing interest in Digimkey. Request you to help us get in touch with you by providing the below details</p>

                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                        <h4 class="contact">CONTACT US</h4> 
                   </div>
              
           

               </div>
               <!-- end of row -->

            </div>
        </div>

<!-- end of section1 -->

<!-- section2 -->
<div class="container" >
    <div class="form-card1">
        <h4 class="reach">Reach Us At </h4>
        <div class="container-fluid">
            <!-- start of row -->
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <input type="text" class="form-control inp" placeholder ="Full Name">
                       </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                           <input type="email" class="form-control inp" placeholder ="Email Address">
                        </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                           <input type="text" class="form-control inp2" placeholder ="Phone Number">
                        </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                           <input type="text" class="form-control inp2" placeholder ="Subject">
                        </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                           <textarea class="form-control inp2" rows="5" placeholder ="Message"></textarea>
                           <button type ="button" class ="btn-send "><div class ="send">Send</div></button>
                      </div>
                </div>
               


            </div>
            <!-- end of row -->
        </div>


    </div>
</div>


<!-- end -->

<!-- section3 start -->
<div class="pg-3-section3">
    <h4 class="locate">Locate Us</h4>
    <div class="container-fluid">
        <!-- start of row -->
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d91701.35655117678!2d72.85229798491407!3d19.09159003987021!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbe67a08aaa69da7e!2sDigimkey!5e0!3m2!1sen!2sin!4v1535284450387" width="600" height="450" frameborder="0" style="border:0;margin-top:39px;width:100%;" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
               <h6 class="call-us"><b>Call us at</b></h6>
               <p class="contact-no1">+91- 7045 812 666 </p>
               <p class="contact-no2"> +91- 2249 709 512 </p>
               <h6 class="mail-at"><b>Mail us at</b></h6>
               <p class="cont-digi"> Contact@digimkey.com</p>
            </div>
        </div>
        <!-- end of row -->
    </div>
</div>


<!-- section3 end -->

