 <!-- start of section1 -->
 <div class ="pg-4-section1">
  <div class="container-fluid">
      <!-- start of row -->
      <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-xl-6">
            <h4 class ="support">Support</h4>
             <p class="connecte">Once we  are connected Our team is always there to support you</p>
            <p class="we-are-just">We are just one call away</p> 
            <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                          <input type="text" formControlName="contactno" class="form-control form-inline inp" placeholder ="Enter your contact number or email id">
                 </div>
                 <button type ="button" class ="btn-send1"><div class ="send1">Send</div></button>
                 <p class="our-represen">Or call our representative on +91- 7045 812 666 or +91- 2249 709 512</p>
            </form>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-xl-6">
                  <h4 class="supp">SUPPORT</h4>

         </div> 
                      
      </div>
  </div>
</div>

<!-- end of section1 -->

  <!-- start of section2 -->

  <div class ="container">
      <div class="card-section">
       <h4 class="know-about">Know About our Support Services </h4>
       <div class="container-fluid">
           <div class="row">
               <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
                   <h6 class="data-coll"><b>Data Collection & Storage</b></h6>
                   <div class="line"></div>
                   <p class="effortless">Effortless & fast data updation on cloud based system thus ensuring 100% security and approachable anytime & anywhere. </p>
               </div>
               <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
                      <h6 class="teach-supp"><b>Teacher Support manager</b></h6>
                      <div class="line"></div>
                      <p class="supp-mang">Our support managers provide orientation sessions for teachers and staff for usability. Dedicated assistance is provided in needed circumstances.  </p>
                  </div>
                  <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
                       <h6 class="parent-orientation"><b>Parent Orientation</b></h6>
                        <div class="line"></div>
                        <p class="proficient">Proficient representatives explain and orient Parents to use the modules and explain benefits of app in brief parent sessions.  </p>
                   </div>
                   <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
                       <h6 class="notifications"><b> Notifications </b></h6>
                       <div class="line"></div>
                       <p class="pr-te"> Parents, teachers & students will be updated of all the ongoing changes and progress through digital notification thus keeping track of everything.  </p>
                  </div>
                  <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
                       <h6 class="customer-supp"><b> Customer Support </b></h6>
                       <div class="line"></div>
                       <p class="customer-rep"> 24X7 customer representative available for technical or system related support for all the users.  </p>
                   </div>
                   <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
                       <h6 class="customisations"><b> Customisations </b></h6>
                       <div class="line"></div>
                       <p class="evr-school"> Every school processes uniquely which demands variation in system thus customisations are given priority to provide that unique experience. </p>
                   </div>

           </div>
       </div>
          
      </div>
  </div>                



     <!-- end of section2 -->


