<!-- section1 start -->
<div class="pg-2-section1">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
              <h4 class="about-us">About Us </h4>

          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
            <h4 class="about"> ABOUT US </h4>
          </div>
          <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12">
              <p class="digi-paper">DIGIMKEY is a paperless Education Management automation solution for 21st Century Educational Institutes. We provide online web application to carry out all day to day activities of an educational institute, making them fast, easy, efficient and accurate. DIGIMKEY is an all in one system for institute administration which is used to manage students, teachers and staff efficiently. We provide a user friendly online system to help administrators keep a track of day-to-day activities in school/college.<br><br>
                  
                  DIGIMKEY is a well-designed intuitive and user friendly GUI interface for Web and Mobile App. It is a cloud based application where installation is not required. It is a modern, proficient, economical and safe model which is well organised to make your work easy. The system is developed with end-to-end encryption for data security. DIGIMKEY will not only make your life easier but also it will make your institute and staff more productive by saving their time. We provide campus automtion system for educational institutes. </p>
       </div>
      </div>
  </div>

</div>

<!-- section1 end -->


<!-- section 2 start -->


<div class="container">
  <div class="abt-card">
          <div class="container-fluid">
              <!-- start of row -->
                  <div class="row">
                      <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
                          <h6 class="who-are"><b> Who are we ? </b></h6>
                          <div class="line"></div>
                          <p class="digi-well"> DIGIMKEY is a well-designed intuitive and user friendly GUI interface for Web and Mobile App. It is a cloud based application where installation is not required. It is a modern, proficient, economical and safe model which is well organised to make your work easy. The system is developed with end-to-end encryption for data security. DIGIMKEY will not only make your life easier but also it will make your institute and staff more productive by saving their time. We provide campus automation system for educational institutes. </p>
                      </div>
                      <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
                             <h6 class="how-we"><b> How we do it ? </b></h6>
                             <div class="line"></div>
                             <p class="we-provd"> We provide a secure & scalable cloud based Communication & Transaction platform for Institutions.  </p>
                         </div>
                         <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
                              <h6 class="we-achv"><b> We achieve this through </b></h6>
                               <div class="line"></div>
                               <p class="cloud-bsd">providing cloud based secure online platform designed for Institutions. Our solution is meant for institutions with n number of student size. Easy to use, with training and support from digiMkey. With annual subscription based pricing, we provide economical pricing model suitable for your institution. Constantly innovating  </p>
                          </div>
                          <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
                              <h6 class="why-us"><b> Why Us ? </b></h6>
                              <div class="line"></div>
                              <p class="digi-cloud"> DIGIMKEY is a cloud-based Communication & Transaction Platform for Institutions. The DIGIMKEY platform provides a secure online environment for managing institution data along with a comprehensive analytics dashboard. The communication modules provides unified multi-channel communication solution with Free institution-branded mobile app.  </p>
                         </div>
 
                  </div>
                  <!-- end of row -->
              </div>

  </div>

</div>
<!-- section 2 end -->

<!-- section 3 start -->
<div class="pg-2-section3">
  <h4 class="team"> <b>Meet the Team </b> </h4>
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
              <div style ="display:flex;">
                          <div class="team-img">
                                  <img src="src/app/assets/images/rizwansir.jpg" alt="" class=" rounded-circle" width="115" height ="115">
                           </div>
                  
                          <h6 class="desig"><b>Kunwar Rizwan</b>
                              <div class="info-content"> Director <br><br>    Chartered Accountant </div>
                          </h6>              
               </div>     

            
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                  
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
              
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12" >
                  <div style ="display:flex;" >
                          <div class="team-img">
                                  <img src="src/app/assets/images/nazeeb2.jpg" alt="" class=" rounded-circle" width="115" height ="115">
                           </div>
                  
                          <h6 class="desig"><b> Nazeeb Ahmad  </b>
                              <div class="info-content"> Director <br><br> IIT Bombay Graduate </div>
                          </h6>  
          </div>
      </div>
          
          <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12" style ="margin-top:78px;">
                  <div style ="display:flex;" >
                          <div class="team-img">
                                  <img src="src/app/assets/images/venkat1.jpg" alt="" class=" rounded-circle" width="115" height ="115">
                           </div>
                  
                          <h6 class="desig"><b> Venkatsai Anumolu </b>
                              <div class="info-content"> Director <br><br>    NIT Warangal Graduate </div>
                          </h6>  
          </div>
                  
          </div>
           <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                  
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                  
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12" style ="margin-bottom:90px;">
                  <div style ="display:flex;" >
                          <div class="team-img">
                                  <img src="src/app/assets/images/javed_Kunwar.jpg" alt="" class=" rounded-circle" width="115" height ="115">
                           </div>
                  
                          <h6 class="desig"><b>  Kunwar Javed </b>
                              <div class="info-content"> Director <br><br> MBA Marketing & HR </div>
                          </h6>  
          </div>
           </div>

      </div>
  </div>
</div>

<!-- section 3 end -->
