<div class="basic-details">
    <div class ="container">
        <!-- -------------------- START OF ROW ---------------------------- -->
       <div class="row">
         <span class="mask" (click) = "close()">X</span>

         <div class=" col-xs-12 col-lg-6 col-md-6 col-xl-6 col-sm-12">
           <div style ="display:flex;">
              <img src="src/app/assets/images/logo.png" class ="logo">
              <div class="logo-text">DIGIMKEY</div>
           </div>
            

           <h4 class ="welcome-digi">Welcome to the  Digimkey</h4>
           <p class = "join-us">Join us to enter the paperless education world</p>
           <h4 class ="Digimkey">DIGIMKEY</h4>
         </div>


         <div class="col-xs-12 col-lg-6 col-md-6 col-xl-6 col-sm-12">
           <!-- card start -->
            <div class="form-card">
               <img class="back-arrow" src ="src/app/assets/images/backbutton-registration@3x.png" (click)="prevClick();">
              <div class="signup-with-digimkey">Signup with Digimkey</div>
               <p class="fill-details">Fill the all details to digitize your education with us</p>
              <!-- inner row start -->
              <div class="row">
               <div class="col-xs-12 col-lg-6 col-md-6 col-xl-6 col-sm-12">
                 <div style ="padding-top:51px;padding-left:20px;"> <div class="circle1"  [ngStyle]="{'background-color': circle1Color,'border':circle1Color}">1</div></div>
                  <div class="basic">Basic Details</div>
                 </div>
               <div class="col-xs-12 col-lg-6 col-md-6 col-xl-6 col-sm-12">
                 <div style ="padding-top:51px;padding-left:20px;"> <div class="circle2"  [ngStyle]="{'background-color': circle2Color,'border':circle2Color}">2</div></div>
                  <div class="verify-otp">Verify OTP</div>
               </div>
            </div>
            <!-- inner row end -->
            <div class="Basic-Details" [hidden]="IsHidden">Basic Details :</div>
            <!-- form start -->
            <form  style ="margin-top:36px;"  [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
              <div class ="container" [hidden]="IsHidden">
                <!-- form row start -->

              <div class ="row">
                   <!-- select role -->
                <!-- <div class="col-xs-12 col-lg-12 col-md-12 col-xl-12 col-sm-12">

                <div class="form-group">
                    <select ngModel name="role" id="role"  class ="your-role">   
                        <option value="">Your role</option>       
                        <option value="2">Admin</option>
                        <option value="1">Principal</option>
                        <option value="0">Trustee</option>
                        <option value="1">Director</option>
                        <option value="2">HOD(Head Of Department)</option>
                        <option value="0">Owner</option>
                    </select>
                  </div>
              </div> -->

              <!-- end of select role -->

              <!-- first name start -->

              <div class="col-xs-12 col-lg-12 col-md-12 col-xl-12 col-sm-12">
                  <div class="form-group">
                      <input  (keypress)="onkeypressname($event)" type="text"  formControlName="firstName" class="form-control input" [ngClass]="{ 'is-invalid': submitted && fr.firstName.errors }" placeholder ="First Name"/>
                        <div *ngIf="submitted && fr.firstName.errors" class="invalid-feedback">
                            <div *ngIf="fr.firstName.errors.required">First Name is required</div>
                            </div>
                      <!-- <input ngModel name ="first_name" type="text" class="form-control input" id="first_name"  placeholder="First Name"  required /> -->
                    </div>
              </div>

              <!-- first name end -->

                <!-- last name start -->

                <div class="col-xs-12 col-lg-12 col-md-12 col-xl-12 col-sm-12">
                  <div class="form-group">
                      <input  (keypress)="onkeypressname($event)" type="text"  formControlName="lastName" class="form-control input" [ngClass]="{ 'is-invalid': submitted && fr.lastName.errors }" placeholder ="Last Name" />
                        <div *ngIf="submitted && fr.lastName.errors" class="invalid-feedback">
                            <div *ngIf="fr.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
              </div>

              <!-- last name end -->

              <!-- email address start -->

              <div class="col-xs-12 col-lg-12 col-md-12 col-xl-12 col-sm-12">
                  <div class="form-group">
                      <input type="text" formControlName="email" class="form-control input" [ngClass]="{ 'is-invalid': submitted && fr.email.errors }" placeholder ="Email Address" />
                      <div *ngIf="submitted && fr.email.errors" class="invalid-feedback">
                          <div *ngIf="fr.email.errors.required">Email is required</div>
                          <div *ngIf="fr.email.errors.pattern">Email must be a valid email address</div>
                      </div>                    
              </div>
              </div>

              <!-- email address end -->

              <!-- mobile number start -->

              <div class="col-xs-12 col-lg-12 col-md-12 col-xl-12 col-sm-12">
                  <div class="form-group">
                  
                      <input  (keypress)="onkeypress($event)"  id ="mob" type="text" formControlName="mobile_no" class="form-control input" [ngClass]="{ 'is-invalid': submitted && fr.mobile_no.errors }" placeholder ="Mobile Number" />
                      <div *ngIf="submitted && fr.mobile_no.errors" class="invalid-feedback">
                          <div *ngIf="fr.mobile_no.errors.required">Mobile Number is required</div>
                          <div *ngIf="fr.mobile_no.errors.minlength">Mobile number must be atleast 10 digit</div>
                          <div *ngIf="fr.mobile_no.errors.maxlength">
                            Mobile number should not be greater than 10.
                          </div> 

                      </div>          
                      <a href="" class ="why-phone-number" data-toggle="modal" data-target="#exampleModal"> Why phone number ?</a>
                    </div>
              </div>

              <!-- mobile number end -->

              <!-- password start -->

              <div class="col-xs-12 col-lg-12 col-md-12 col-xl-12 col-sm-12">
                  <div class="form-group">
                      <input type="password" id ="pass" formControlName="password" class="form-control input" [ngClass]="{ 'is-invalid': submitted && fr.password.errors }" placeholder ="Password"/>

                       <img src ="src/app/assets/images/Visibility Off@3x.png" class ="visibility-Off" [hidden] ="Hide" (click)="icon()"> 
                      <img src ="src/app/assets/images/Visibility ON@3x.png" class ="visibility-on" [hidden] ="Show" (click)="icon()"> 


                      <div *ngIf="submitted && fr.password.errors" class="invalid-feedback">
                          <div *ngIf="fr.password.errors.required">Password is required</div>
                          <div *ngIf="fr.password.errors.minlength">Password must be at least 6 characters</div>
                      </div> 
                  
                    </div>


               
              </div>

              <!-- password end -->

              <!-- confirm password start -->
                     
<!--                  
              <div class="col-xs-12 col-lg-12 col-md-12 col-xl-12 col-sm-12">
                  <div class="form-group">
                      <input ngModel name ="confirm_password" type="password" class="form-control input" id="confirm_password"  placeholder=" Confirm Password">
                      <img src ="src/app/assets/images/Visibility Off@3x.png" class ="visibility-Off ">
                    </div>
              </div> -->



              <!-- confirm password end -->

              <div class="col-xs-12 col-lg-6 col-md-6 col-xl-6 col-sm-12 ">
                 <button type ="submit"  class ="btn_next1 " ><div class ="next1 text-center"><a  style ="color:#ffffff;text-decoration:none;">Next</a></div></button>
               </div>




                  </div>
                  <!-- form row end -->
                  </div>
                  </form>

                  <!-- <form style ="margin-top:36px;"  [formGroup]="registerForm"> -->


                  <!-- second screen of form start -->
                  <div class="Verify-OTP"  [hidden]="IsShown">Verify OTP :</div>

                   <div class ="container" [hidden]="IsShown">
                     <div class ="row">
                       <!-- mobile no edit start -->

              <div class="col-xs-12 col-lg-12 col-md-12 col-xl-12 col-sm-12">
                  <div class="form-group">
                    <div id ="no">An otp has been sent to  </div>
                    </div>
              </div> 
                        <!-- mobile no edit end -->

                        <!-- verify otp start -->

             <div class="col-xs-12 col-lg-12 col-md-12 col-xl-12 col-sm-12">
                  <div class="form-group">
                      <!-- <input  name ="verify_otp" type="text" class="form-control input" id="verify_otp"> -->
                      <div style=" margin: 7px 0; ">
                      <input maxlength = "1" (keyup)="keytab($event,1)"   class="inputs" type="text"  id ="code1" />
                      <input maxlength = "1" (keyup)="keytab($event,1)"   class="inputs" type="text"  id ="code2" />
                      <input maxlength = "1" (keyup)="keytab($event,1)"   class="inputs" type="text"  id ="code3" />
                      <input maxlength = "1" (keyup)="keytab($event,1)"   class="inputs" type="text"  id ="code4" />
                      <input maxlength = "1"   class="inputs" type="text"  id ="code5"  (keyup) ="lastinput()"/>
                      <!-- <input class="inputs" type="text" maxlength="1" id ="code6" /> -->
                      </div>
                    </div>
              </div> 

                 <!-- verify otp end -->
                 <div class="col-xs-12 col-lg-12 col-md-12 col-xl-12 col-sm-12">
                    <p class ="otp-within">Enter the OTP within</p>
                 </div>
                 <div class="col-xs-12 col-lg-12 col-md-12 col-xl-12 col-sm-12">
                   <p class ="otp-within">00:30</p>
                 </div>

                 <div class="col-xs-12 col-lg-12 col-md-12 col-xl-12 col-sm-12">
                 <p class ="havent-received-otp">Haven’t received OTP ?  <a (click) ="resendOtp()" id ="resend_otp" >Resend</a>  </p>
                 </div>

                 <div class="col-xs-12 col-lg-6 col-md-6 col-xl-6 col-sm-12">
                  <button  type = "submit" (click)="otpSubmit()" id ="submit_otp" class ="btn_submit"><div class ="submit text-center"><a  style ="color:#ffffff;text-decoration:none;">Submit</a></div></button>
                </div>
          




                     </div>
                   </div>

                  <!-- second screen of form end -->










            <!-- </form> -->
            <!-- form end  -->


              

            </div>

            <!-- end of card -->
          </div>




       </div>
         <!-- -------------------- END OF ROW ---------------------------- -->




         <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title phone-content" id="exampleModalLabel">Why Phone Number ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

          <p class = "we-need-your-phone-n">We need your phone number to confirm your identity and secure your account</p>
          <img src="src/app/assets/images/phone-icon.png" class ="phone-icon ">
        </div>
        <div class="modal-footer">
       <p class ="we-will-send">We will send you an OTP to verify your number. Please enter the correct number</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end of Modal -->


   </div>
</div>

<script>
 
//  var no =  document.getElementById('mob');
// var resultStored = no.value;

// var items = document.getElementById('no');

// items.innerHTML += resultStored;

</script>